In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%run -i runup_funcs.py

drv, _ = which_computer()

In [2]:
df_hom = pd.read_csv(drv+'crs/proj/2022_runup/hom_stats.csv', delim_whitespace=True, index_col=0, header=0).T
df_hom

var,H_s,T_p,Dir,Dir_scaled,H0L0,Iribarren,WL,subtidal,tides,runup,runup95,TWL,TWL95
mean,0.969,6.08,22.6,21.1,79.0,0.992,-0.0278,-0.0278,-0.000145,0.696,0.973,0.669,0.945
std,0.606,1.95,46.7,43.8,69.9,0.274,0.8450,0.0941,0.829000,0.378,0.528,0.923,0.993
5,0.323,3.21,44.8,39.1,16.4,0.639,-1.2900,-0.1830,-1.230000,0.247,0.346,-0.743,-0.571
16,0.454,4.08,43.4,36.2,26.1,0.729,-1.0000,-0.1050,-0.960000,0.359,0.502,-0.370,-0.148
50,0.812,5.92,19.8,22.2,58.5,0.948,-0.0218,-0.0258,0.005960,0.613,0.857,0.683,0.955
85,1.520,8.16,57.7,63.6,133.0,1.270,0.9560,0.0505,0.973000,1.050,1.470,1.670,1.980
95,2.110,9.52,45.4,52.5,210.0,1.500,1.2400,0.1200,1.240000,1.420,1.990,2.120,2.560
99,3.100,11.20,45.5,48.8,349.0,1.820,1.5000,0.2320,1.480000,1.940,2.720,2.690,3.340

In [3]:
df_hom['T_p']['mean']

6.08

In [4]:
# Alfredo provided this file isn slightly different shape
df_mar = pd.read_csv(drv+'crs/proj/2022_runup/Marconi_statistics.csv', header=0, index_col = 0)
df_mar

,H_s,T_p,Dir,H0L0,Iribarren,WL,subtidal,tides,runup,runup95,TWL,TWL95
var,,,,,,,,,,,,
mean,1.0414,6.4334,170.6848,89.1013,0.9632,-0.0248,-0.0248,0.0001,0.6832,0.8919,0.6584,0.8672
std,0.5902,1.8703,62.4190,71.8861,0.2227,0.7789,0.0948,0.7764,0.3390,0.4427,0.8484,0.8946
5th,0.4085,3.6162,179.7843,22.6287,0.6481,-1.1928,-0.1793,-1.1548,0.2786,0.3637,-0.6426,-0.5038
16th,0.5451,4.5569,180.5100,34.2342,0.7444,-0.9190,-0.1017,-0.8992,0.3832,0.5004,-0.2941,-0.1213
50th,0.8947,6.3100,156.6384,67.9857,0.9385,-0.0202,-0.0235,0.0032,0.6069,0.7924,0.6700,0.8759
85th,1.5592,8.3494,176.3122,145.7961,1.1866,0.8811,0.0535,0.9044,1.0082,1.3163,1.5827,1.8152
95th,2.1481,9.7231,176.6116,225.1156,1.3686,1.1560,0.1237,1.1712,1.3327,1.7400,1.9903,2.3040
99th,3.1642,11.3223,180.6543,359.9968,1.5983,1.3977,0.2394,1.3939,1.7903,2.3374,2.5017,2.9510

In [5]:
df_mar['T_p']['mean']

6.4334

In [6]:
df_pea = pd.read_csv(drv+'crs/proj/2022_runup/pea_stats.csv', header=0, delim_whitespace=True, index_col=0).T
df_pea

var,H_s,T_p,Dir,Dir_scaled,H0L0,Iribarren,WL,subtidal,tides,runup,runup95,TWL,TWL95
mean,1.100,6.85,359.0,5.58,115.0,0.945,-0.0120,-0.0120,0.000089,0.792,1.120,0.7800,1.110
std,0.519,1.83,66.8,57.20,86.1,0.183,0.3590,0.1560,0.318000,0.363,0.515,0.5460,0.669
5,0.527,4.19,44.3,39.20,40.2,0.666,-0.5620,-0.2340,-0.463000,0.399,0.566,0.0275,0.239
16,0.663,5.17,40.7,39.00,54.6,0.757,-0.4020,-0.1550,-0.359000,0.499,0.708,0.2500,0.497
50,0.981,6.64,1.2,1.23,90.5,0.935,-0.0183,-0.0281,-0.009210,0.701,0.994,0.7280,1.020
85,1.540,8.59,290.0,289.00,176.0,1.130,0.3860,0.1330,0.368000,1.110,1.570,1.2900,1.710
95,2.070,10.10,277.0,275.00,269.0,1.260,0.5730,0.2720,0.516000,1.470,2.090,1.7400,2.320
99,2.950,12.20,76.0,81.90,454.0,1.430,0.7790,0.4650,0.646000,2.080,2.960,2.4800,3.310

In [7]:
df_mad = pd.read_csv(drv+'crs/proj/2022_runup/mad_stats.csv', delim_whitespace=True, header=0, index_col=0).T
df_mad

var,H_s,T_p,Dir,Dir_scaled,H0L0,Iribarren,WL,subtidal,tides,runup,runup95,TWL,TWL95
mean,0.629,4.37,314.0,314.0,44.00,0.534,-0.01820,-0.01820,0.000014,0.2550,0.338,0.237,0.3200
std,0.426,1.34,45.6,47.2,48.20,0.123,0.34200,0.14600,0.302000,0.1620,0.214,0.377,0.4020
5,0.202,2.71,34.2,28.5,8.71,0.369,-0.61000,-0.28600,-0.549000,0.0961,0.127,-0.383,-0.3210
16,0.282,3.10,16.3,13.6,13.30,0.412,-0.37800,-0.14500,-0.336000,0.1270,0.168,-0.145,-0.0767
50,0.515,4.15,312.0,315.0,29.10,0.512,0.00509,-0.00476,0.033600,0.2110,0.279,0.244,0.3190
85,0.994,5.61,71.8,77.4,73.70,0.675,0.34000,0.11000,0.319000,0.3870,0.513,0.606,0.7010
95,1.430,6.95,58.7,67.6,129.00,0.762,0.50800,0.19300,0.456000,0.5670,0.752,0.826,0.9580
99,2.150,8.87,46.6,57.7,240.00,0.853,0.67500,0.31800,0.561000,0.8720,1.160,1.190,1.4200